@import 'normalize','settings','variables';

//TYPOGRAPHY AND COLORS ----START

body {
    color: $color-main;
    text-align: center;
}

main {
    background: $background-main;
}

footer {
    background: $background-footer;
}

a {
    color: $White;
}

li {
    list-style: none;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.nav {
    &__list-link {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        line-height: 1.4rem;
    }
}

//TYPOGRAPHY AND COLORS ----END

.header {
    background: $background-header;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    padding: 2.4rem 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
       width: 8rem; 
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        gap: 2.4rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.8rem;
    background: url(../images/bg-curvy-mobile.svg) bottom no-repeat;
    background-size: contain;
    padding-bottom: 12rem;

    &__img-container {
        padding: 0 3.6rem;
        margin-bottom: 3.3rem;
        max-width: 72rem;
    }

    &__heading {
        padding: 0 2.8rem;
        font-size: 2.4rem;
        line-height: 3.6rem;
        margin-bottom: 1.5rem;
    }

    &__about {
        padding: 0 4rem;
        margin-bottom: 3.2rem;
    }

    &__content {

        max-width: 73.4rem;
    }
}

.cta {
    &__button {
        background: linear-gradient(134.79deg, #63E1D9 -42.11%, #34A0CD 100%);
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
        border-radius: 24px;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding: 1.6rem 0;
        display: block;
        margin: auto;
        color: $White;
        border: none;
    }

    &__button--primary {
        width: 24rem;
    }

    &__button--secondary {
        width: 100%;
    }
}

.highlights {
    padding: 0 2.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    margin-bottom: 16rem;
    max-width: 88rem;

    &__highlight {
        max-width: 31rem;
        width: 100%;
    }

    &__image-wrapper {
        width: 10.4rem;
        height: 10.4rem;
        margin: 0 auto 2.4rem;
    }

    &__heading {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 0.8rem;
    }
}

.productive {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image-container {
        padding: 0 3.6rem;
        margin-bottom: 4.8rem;
    }

    &__content {
        padding: 0 2.8rem;
        max-width: 56.3rem;
    }

    &__heading {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
    }

    &__about {
        text-align: left;
        margin-bottom: 1.6rem;
    }

    &__link-container {
        text-align: left;
    }

    &__link {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        margin-right: auto;
        color: $Cyan;
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid $Cyan;
    }

    &__icon {
        margin-left: 0.7rem;
        position: relative;
        bottom: -4px;
    }
}

.testimonials {
    padding: 16rem 4.8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    &__testimonial {
        background: $background-testimonials;
        box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
        border-radius: 3.93258px;
        padding: 2.4rem 2rem;
        position: relative;
        z-index: 10;
        max-width: 36rem;
    }

    &__testimonial:first-child::before {
        content: '';
        background: url(../images/bg-quotes.png) no-repeat;
        background-size: 20px;
        display: block;
        width: 32px;
        height: 50px;
        position: absolute;
        top: -12px;
        left: 6px;;
        z-index: -10;
    }

    &__quote {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-bottom: 1.7rem;
        text-align: left;
    }

    &__quote-icon {
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
        width: 32px;
        display: none;
    }

    &__wrapper {
        display: flex;
        text-align: left;
        gap: 0.8rem;
        letter-spacing: 0.5px;
    }

    &__image {
        width: 24px;
        border-radius: 100%;
    }

    &__name {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 0.4rem;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    &__position {
        font-size: 0.7rem;
        line-height: 1rem;
    }
}

.cta-block {
    padding: 16rem 2rem 0;
    max-width: 86.3rem;
    margin: auto;

    &__container {
        background: #1B2330;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
        border-radius: 9px;
        padding: 4rem 2.8rem 3.7rem;
    }

    &__heading {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
    }

    &__about {
        margin-bottom: 3.2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        max-width: 48rem;
        margin: auto;

        input {
            box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
            border-radius: 24px;
            border: none;
            font-size: 1rem;
            line-height: 1.3rem;
            padding: 1.9rem 2.9rem 1.5rem;
        }
    }
}


.footer {
    padding: 8.3rem 2.8rem 5.2rem;
    text-align: left;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        width: 10.8rem;
        margin-bottom: 3.5rem;
    }

    &__about {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    &__location {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 1.6rem;
        max-width: 37.9rem;
    }

    &__contact-block {
        display: grid;
        gap: 1.9rem;
        margin-bottom: 5.6rem;
    }

    &__contact-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__link {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-family: 'Open Sans', sans-serif;
    }

    &__links {
        margin-bottom: 4.6rem;
    }

    &__links:last-child {
        margin-bottom: 5.6rem;
    }

    &__list {
        display: grid;
        gap: 1.6rem;
    }

    &__social-block {
        display: flex;
        gap: 1rem;
        justify-content: center;
        font-size: 1.2rem;
    }

    &__social-link {
        width: 28px;
        height: 28px;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {

    .hero {
        background: url(../images/bg-curvy-desktop.svg) bottom no-repeat;
        background-size: contain;
    }

    .highlights {
        flex-direction: row;
    }

    .testimonials {
        flex-direction: row;
        justify-content: center;
    }

    .footer {

        &__contact-block {
            margin-bottom: 0;
            width: 17.1rem;
        }

        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 4rem;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__location {
            width: 37.9rem;
        }
    }
}

@media screen and (min-width:1024px) {

    .footer__link:hover {
        font-weight: 700;
    }

    .footer__social-link:hover {
        color: #62E0D9;
        border: 1px solid #62E0D9;
    }

    .cta__button:hover {
        cursor: pointer;
        background:$background-button-hover;
    }

    .productive__link:hover {
        color: $White;
        border-bottom: 1px solid white;
        ;
        span {
            filter: brightness(0) saturate(100%) invert(99%) sepia(68%) saturate(0%) hue-rotate(132deg) brightness(110%) contrast(101%);
        }
    }

    .nav__list-link:hover {
        font-weight: 700;
        text-decoration: underline;
    }
}

@media screen and (min-width:1440px) {

    .nav {
        padding: 7.3rem 8rem 0;

        &__logo {
            width: 17.6rem;
        }

        &__list-link {
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
    }

    .hero {

        margin-top: 7.5rem;
        padding-bottom: 15.8rem;

        &__img-container {
            padding: 0;
            margin-bottom: 3.6rem;
        }

        &__heading {
            font-size: 4rem;
            line-height: 6rem;
            margin-bottom: 3.2rem;
        }

        &__about {
            font-size: 2rem;
            line-height: 3rem;
            padding: 0 6rem;
        }
    }

    .cta {

        &__button--primary {
            width: 28rem;
            padding: 1.9rem 0 1.8rem;
        }
    }

    .highlights {

        padding: 0;
        justify-content: space-between;
        gap:7.9rem;
        margin-bottom: 13.7rem;

        &__image-wrapper {
            margin-bottom: 1.6rem;
        }

        &__heading {
            font-size: 2rem;
            line-height: 2.4rem;
            margin-bottom: 0.8rem;
        }
    }

    .productive {
        flex-direction: row;

        &__heading {
            font-size: 4rem;
            line-height: 5rem;
            text-align: left;
            margin-bottom: 1.9rem;
        }

        &__about {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }

        &__link {
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }

    .testimonials {
        padding: 17.9rem 0 0;
        justify-content: space-between;
        max-width: 116rem;
        width: 100%;

        &__testimonial {
            padding: 4rem 2.6rem 2.6rem;
        }

        &__quote {
            font-size: 1.4rem;
            line-height: 2.1rem; 
        }
    }

    .cta-block {
        padding: 8.5rem 0 0;
        position: relative;
        bottom: -110px;

        &__container {
            padding: 3.2rem 7.7rem 4.1rem;
        }

        &__heading {
            font-size: 3.2rem;
            line-height: 4.8rem;
        }

        &__about {
            margin-bottom: 4.8rem;
        }

        &__form {
            flex-direction: row;
            max-width: none;
            gap: 2.9rem;

            input {
                width: 48rem;
                font-size: 1.2rem;
                line-height: 1.6rem;
                color: hsla(243, 87%, 12%, 1);
            }

            button {
                width: 20rem;
            }
        }
    }

    .footer {
        padding: 16.9rem 12rem 5.3rem;

        &__logo {
            margin-bottom: 5.2rem;
        }

        &__wrapper {
            justify-content: flex-start;
            gap: 0;
        }

        &__location {
            margin-right: 8rem;
        }

        &__contact-block {
            margin-right: 14.6rem;
        }

        &__links {
            margin-bottom: 0;
            margin-right: 8rem;
        }

        &__social-block {
            margin-left: 1rem;
        }
    }

}